html {
    font-family: Verdana, sans-serif;
}

.header {
    position: fixed;
    height: 64px;
    background-color:white;
    width: 100%;
    display: block;
    top: 0px;
}

.header img {
    float: left;
    padding-left: 24px;
    padding-top: 27px;
}

.header h1 {
    float: left; 
    margin-left: 10px;
    font-size: 32px;
    font-weight: 500;
}

.header ul {
    float: right;
    margin-right: 24px;
    margin-top: 25px;
    color: gray;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

li {
    padding: 8px;
}